@font-face {
  font-family: TavolgaFree;
  src: url("assets/fonts/tavolga-free.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("assets/fonts/gilroy-medium.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("assets/fonts/gilroy-bold.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("assets/fonts/gilroy-extrabold.ttf");
}


* {
  padding: 0;
  margin: 0;
}

body {
  font-family: TavolgaFree, sans-serif;
  position: relative;
}
